// Colors

$basic__black: #000000;
$basic__white: #ffffff;
$basic__darkest: #141517;
$basic__darkest-two: #48494d;
$basic__dark: #2c2e3f;
$basic__light: #dadada;
$basic__light-two: #dadada;
$basic__light-three: #fbf8f8;
$basic__light-four: #d7d9df;
$basic__accent-main: #fe7865;
$basic__accent-hover: #f17d4b;

$special__dark: #293642;


// Viewports

$tablet-max-width: 1023px;
$tablet-width: 768px;
$mobile-max-width: 767px;
$mobile-width: 0;
